body {
    background-color:white;
    padding:10px;
}
.map-container {
    height: 70%;
    width: 70%;
}
/* svg {
    fill: pink;
    height: 20px;
} */
.marker {
    /* color: pink; */
    background: yellow;
    height: 2px;
    width:2px;
    border-radius: 50%;
    
}
/* circle {
  color: yellow;
} */
#map {
    height: 70%;
    width: 70%;
    position: absolute;
    top: 10%;
}
#map-overlay {
    height: 100%;
    width: 100%;
   
    /* transform:translate(-50%, -50%); */
    background: blue;
    opacity: 0.2;
    /* height: 100%;
    width: 100%; */

}
/* .stations, .stations svg {
  position: absolute;
} */

/* .stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
} */

/* .stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
} */