body {
    background-color:black;
    padding:10px;
}
.body {
  /* background: #282c34; */
  /* background: #38414e */
  background: white;
  /* background: #08605F */
}
.description {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: black;
  margin: 0px;
  text-align: left;
  padding: 10px;
}
.header {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0px;
  
}
.title {
  /* position: absolute; */
  /* top:0; */
  text-align: center;
  width:100%;
  font-family: 'Monoton', cursive;
  font-size: 40px;
  /* color: white; */
  color: #2e60cc;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 25px;
}
.map-container {
    height: 70%;
    width: 70%;
}
#control {
    font-family: sans-serif;
    color: #2e60cc;
    text-align: center;
    font-weight: 200;
    margin: 10px;
}
.btn {
  background: transparent;
  color: #2e60cc;
  outline: none
}
/* svg {
    fill: pink;
    height: 20px;
} */
.marker {
    /* color: pink; */
    background: azure;
    height: 7px;
    width:7px;
    border-radius: 50%;
    /* box-shadow: 2px 1px 0.5px 0.25px #48BEFF; */
    opacity: 0.6;
    /* box-shadow: 120px 80px 40px 20px #0ff; */
    
}
/* circle {
  color: yellow;
} */
#map {
    height: 70%;
    width: 70%;
    position: absolute;
    top: 15%;
}
#map-overlay {
    height: 100%;
    width: 100%;
   
}

#speed {
  /* position: absolute; */
  right: 100px;
  top: 50px;
  margin-bottom: 2px;
}
#time {
  display: block;
  position: absolute;
  left: 6%;
  top: 18%;
  width: 54%;

}
#digitaltime {
  position: absolute;
  right: 29%;
  top: 26%;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background: #fff;
}
span {
  color: #2e60cc;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 5px;
}
/* svg{
	stroke: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
} */

#clock {
  /* height: 300px; */
  /* width: 300px; */
  position: absolute;
  top: 15%;
  right: 29%;
  /* background: transparent; */
  /* border: 1px solid yellow; */
}
#rim {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.second-hand{
	stroke-width:3;

}

.minute-hand{
	stroke-width:2;
	stroke-linecap:round;
}

.hour-hand{
	stroke-width:4;
	stroke-linecap:round;
}

.hands-cover{
	stroke-width:3;
	fill:white;
}

.second-tick{
	stroke-width:2;
	/* fill:#000;	 */
}

.hour-tick{
	stroke-width:2; //same as the miute hand
}

.second-label{
	font-size: 12px;
}

.hour-label{
	font-size: 24px;
}
line {
  stroke:white;stroke-width:2
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #25b7c3;
  border-radius: 25px;
  /* border: 0px solid #000101; */
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 14px;
  border-radius: 4px;
  background: #2e60cc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
#time input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background: transparent;
}
#time:focus {
  outline: none;
}
#time::-webkit-slider-runnable-track {
  width: 70%;
  height: 15px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #25b7c3;
  border-radius: 25px;
  /* border: 0px solid #000101; */
}
#time::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 14px;
  border-radius: 4px;
  background: #2e60cc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
.controls {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* left: 75%; */
  /* top: 15%; */
  width: 100%;
  border: 2px solid #2e60cc;
  box-sizing: border-box;

}
.filters {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* left: 75%; */
  /* top: 28%; */
  width: 100%;
  height: 21%;
  border: 2px solid #2e60cc;
  box-sizing: border-box;
  padding-bottom: 10px;
};
.genderdisplay {
  display: flex;
  flex-direction: column;
  /* width: 100px; */
  margin: 10px;
  border: 1px solid #2e60cc;
  justify-content: center;
  /* background: pink; */
}
#genderdisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* width: 200px; */
}
#fem {
  /* margin: 10px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  cursor: pointer;
  height:20px;
}
#male {
  /* margin: 10px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  cursor: pointer;
  height: 20px;
  text-align: right;
}
#genderlabels {
  display: flex;
  flex-direction: row;
  width: 120%;
  
}
.male-span {
  margin-left: 40%;
}
.female-span {
  margin-right: 20%;
}
.timebar {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  color: white;
  position: absolute;
  left: 7%;
  top:15%;

}
#dtdisplay {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  margin-top: 20px;
  justify-content: center;

}
#going {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  cursor: pointer;
  height:20px;
}
#leaving {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  cursor: pointer;
  height: 20px;
  text-align: right;
}
#genderlabelsspan {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.descriptiondiv {
  align-items: center;
  /* position: absolute; */
  /* left: 75%; */
  /* top: 50%; */
  width: 100%;
 
  border: 2px solid #2e60cc;
  box-sizing: border-box;
  padding: 10px;
}
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  right: 5%;
  top: 15%;
  position: absolute;
}